@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container-fluid">
        <div class="container">
            <h1>@CurrentPage.pageTitle</h1>
            @CurrentPage.bodyText
            <img src="@CurrentPage.upload" alt="@CurrentPage.Name" width="300" height="200" />
        </div>
</div>