
    <form name="personForm" ng-controller="Example.editController" ng-show="loaded" ng-submit="save(person)" val-form-manager>
        <umb-panel>
            <umb-header>
                <div class="span7">
                    <umb-content-name placeholder="@placeholders_entername" ng-model="person.ToString()" />
                </div>
                <div class="span5">
                    <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <umb-options-menu ng-show="currentNode" current-node="currentNode" current-section="{{CurrentSection}}">

                        </umb-options-menu>
                    </div>
                </div>
            </umb-header>
            <div class="umb-panel-body umb-scrollable row-fluid">
                <div class="tab-content form-horizontal" style="padding-bottom: 90px;">
                    <div class="umb-pane">
                        <umb-control-group label="First Name" description="Person's first name.">
                            <input type="text" class="umb-editor umb-textstring" ng-model="person.FirstName" required />
                        </umb-control-group>
                        <umb-control-group label="Last Name" description="Person's last name.">
                            <input type="text" class="umb-editor umb-textstring" ng-model="person.LastName" required />
                        </umb-control-group>
                        <div class="umb-tab-buttons" detect-fold>
                            <div class="btn-group">
                                <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </umb-panel>

    </form>